main {
  font-family: "Times New Roman", serif;
}

.first-plane {
  width: 1400px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 0.8fr 0.8fr;
  grid-template-rows: 300px 300px;
  grid-template-areas:
    "first main second fifth"
    "third main fourth fifth";
}

.first-plane a {
  text-decoration: none;
  color: black;
}

.main p,
.first p,
.second p,
.third p,
.fourth p,
.side-panel article p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.1rem;
  color: rgb(103, 103, 103);
}

.first-plane a:hover {
  color: rgb(103, 103, 103);
}

.main {
  padding: 0px 15px;
  grid-area: main;
}

.main h2 {
  margin: 10px 0;
  font-size: 1.3rem;
}

.main img,
.first img,
.second img,
.third img,
.fourth img,
.fifth img {
  max-width: 100%;
  width: 100%;
  height: 40%;
  max-height: 40%;
  object-fit: cover;
}

.main {
  margin: 15px 0;
}

.third,
.fourth {
  margin: 15px 15px;
}

.main {
  border-left: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
}

.first {
  border-bottom: 1px solid rgb(190, 190, 190);
  margin: 15px 15px 0 0;
  grid-area: first;
}

.second {
  border-bottom: 1px solid rgb(190, 190, 190);
  margin: 15px 15px 0 15px;
  grid-area: second;
}

.third {
  grid-area: third;
}

.fourth {
  grid-area: fourth;
}

.main,
.third,
.fourth {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 10px;
}

.first h3,
.second h3,
.third h3,
.fourth h3,
.side-panel h3 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.side-panel {
  grid-area: fifth;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 0 0px 15px;
  border-left: 1px solid rgb(190, 190, 190);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.side-panel article {
  border-bottom: 1px solid rgb(190, 190, 190);
}